.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(232, 232, 233);
}

h1 {
    text-align: center;
    background: rgb(152, 198, 241);
    color: rgb(8, 21, 204);
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
}

.speles_laukums {
    background: black;
    width: 520px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    display: flex;
}

.bloks{
    background: red;
}